.secret-card {
  cursor: pointer;
}
.secret-card-body {
  height: 220px;
  text-align: center;
}
.secret-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.1);
}
.secret-card span {
  font-size: 110px;
}

.secret-card h5 {
  font-weight: 700;
  letter-spacing: 1px;
}