.secret-card-edit {
}
.secret-card-edit-body {
  height: 164px;
  padding: 0.5rem;
    padding-top: 0px;
}
.secret-card-edit-body span {
  font-size: small;
  font-weight: 600;
}

.secret-card-edit .trash:hover {
  color:red;
}

.secret-card-edit .card-footer {
  padding: 0.3rem 1.25rem;
}
.secret-card-edit .error{
  color:red;
}
