<div class="secret-card-edit card">
  <div class="container">
    <div class="d-flex justify-content-end">
      <button type="button" class="close" aria-label="Close" (click)="edit(secret.id)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="card-body secret-card-edit-body">
    <div>
      <span>Name:</span>
    </div>
  <input type="text" class="form-control" [value]="secret.name" [(ngModel)]="name">
      <span>Secret:</span>
    <div class="input-group">
      <textarea class="form-control" [value]="secret.text" [(ngModel)]="text"></textarea>
    </div>
  </div>
  <div class="card-footer text-muted">
    <div class="d-flex justify-content-between">
      <button *ngIf="!saving && !showError" type="button" class="close trash" aria-label="Close" (click)="delete(secret.id)">
        <fa name="trash"></fa>
      </button>
      <span class="error" *ngIf="!saving && showError">*Name should be unique.</span>
      <fa *ngIf="saving" name="ellipsis-h" animation="spin"></fa>
      <button type="button" class="close" aria-label="Close" (click)="save(secret.id, name, text)">
        <fa name="check-square"></fa><span>save</span>
      </button>
    </div>
  </div>
</div>