<div class="container">
  <app-nav></app-nav>
    <div class="app-main">
      <div class="card-columns">

        <ng-container *ngFor="let secret of secrets">
          <app-secret-card
            *ngIf="secret.id === 'new' && !cardState[secret.id].edit"
             [secret]="secret"
             (isOpen)="onOpenCard($event)">
           </app-secret-card>

           <app-secret-card
             *ngIf="cardState[secret.id].isOpen === false && secret.id !== 'new'"
              [secret]="secret"
              (isOpen)="onOpenCard($event)">
            </app-secret-card>

            <app-secret-card-details
              *ngIf="cardState[secret.id].isOpen && !cardState[secret.id].edit && secret.id !== 'new'"
              [secret]="secret"
              [saving]="cardState[secret.id].saving"
              [showSavedMsg]="cardState[secret.id].showSavedMsg"
              (isClose)="onCloseCard($event)"
              (toggleEdit)="onToggleEdit($event)"
              (toggleSaving)="onToggleEditSaving($event)"
              (toggleShowSavedMsg)="onToggleShowSavedMsg($event)">
            </app-secret-card-details>

            <app-secret-card-edit
              *ngIf="cardState[secret.id].isOpen && cardState[secret.id].edit && secret.id !== 1"
              [secret]="secret"
              [saving]="cardState[secret.id].saving"
              [showError]="cardState[secret.id].showError"
              (isClose)="onCloseCard($event)"
              (toggleEdit)="onToggleEdit($event)"
              (editSave)="onEditSave($event)"
              (deleteSecret)="onDeleteSecret($event)">
            </app-secret-card-edit>

          </ng-container>
      </div>
    </div>
  </div>
 

